executor {
    /* https://www.nextflow.io/docs/latest/config.html?highlight=polling#scope-executor */
    /* https://www.nextflow.io/blog/2021/5_tips_for_hpc_users.html */

    queueSize = 20
    // pollInterval = '10sec'
    // submitRateLimit = '50/2min'
}

process {

    cache = 'lenient'

    beforeScript = "source /path/to/conda.sh"
    afterScript = 'conda deactivate'

    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

    executor = "slurm"
    queue = "default_queue"
    clusterOptions = "-A YOUR_ACCOUNT_NAME "

    cpus = 4
    memory = 8.GB

    withName: '.*GATK_VARIANT_RECALIBRATOR.*' {
        memory = 48.GB
    }


}
