/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: FASTP {
        ext.args = " --cut_right --cut_right_window_size 4 --cut_right_mean_quality ${params.min_trim_quality} -l ${params.min_trim_length} "
    }

    withName: GUBBINS {
        ext.args = "--filter-percentage ${params.max_missing_percentage} --tree-builder raxml --verbose"
    }


    withName: UTILS_VARCODONS {
        ext.args = "-i -n 2 -d ${params.min_parsimony_coverage}"
        ext.prefix = 'ref_fa.pi'
    }

    withName: UTILS_VARCODONS__REPORT {
        ext.args = "-a "
        ext.prefix = 'ref_gbk.varcodons'
    }


    withName: SNIPPY_RUN {
        ext.args = {[
            "--minfrac ${params.min_allele_fraction}",
            "--mincov ${params.min_site_coverage}",
        ].join(' ').trim()}
    }

    withName: SAMTOOLS_CONSENSUS {
        ext.args = {[
            "--mode simple",
            "--min-MQ ${params.min_mapping_quality}",
            "--min-BQ ${params.min_base_quality}",
            "--min-depth ${params.min_site_coverage}",
            "-c ${params.min_allele_fraction}",
            "--show-ins no",
            "--show-del yes",
        ].join(' ').trim()}
    }

    withName: IQTREE {
        ext.args = "-bb 1000 -m MFP+ASC"
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
